.main-nav {
  margin: 0;
  padding: 0;
  position: relative;

  &--closed .main-nav__toggle {
    width: 16px;
    height: 16px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 2px;
      width: 20px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--opened .main-nav__toggle {
    width: 27px;
    height: 16px;

    &::before,
    &::after {
      content: "";
      right: 0;
      height: 2px;
      background-color: #ffffff;
      position: absolute;
      z-index: 2;
    }

    &::after {
      top: 7px;
      width: 16px;
      box-shadow: 0 6px 0 0 #ffffff;
    }

    &::before {
      top: 1px;
      width: 26px;
    }
  }
}

.main-nav__toggle {
  top: 8px;
  left: 280px;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.main-nav__phone {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav--closed .main-nav__toggle {
    top: 23px;
    left: 687px;
    width: 26px;
    height: 20px;

    &::before,
    &::after {
      top: 7px;
      width: 28px;
    }
  }

  .main-nav--opened .main-nav__toggle {
    top: 22px;
    left: 316px;

    &::before,
    &::after {
      left: 0;
      background-color: #000000;
    }

    &::after {
      box-shadow: 0 6px 0 0 #000000;
      &:hover {
        box-shadow: 0 6px 0 0  #8eb574;
      }
    }
  }

  .main-nav__phone {
    top: 3px;
    left: 508px;
    display: block;
    position: absolute;
    font-size: 17px;
    font-weight: 600;
    color: #3b3b3b;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__phone {
    top: 18px;
    left: 912px;
  }
}
