.page-footer {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 62px;
  position: relative;
  background-color: #ffffff;

  &::before {
    content: "";
    top: -56px;
    left: 159px;
    width: 2px;
    height: 30px;
    position: absolute;
    background-color: #cb98a8;
  }
}

.page-footer__title {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 34px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.contacts-list__item {
  padding-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 764px;
    padding: 0 62px;
    padding-bottom: 0;
    box-sizing: border-box;

    &::before {
      top: -100px;
      left: 381px;
      height: 38px;
    }

    &::after {
      content: "";
      top: -152px;
      left: 680px;
      width: 45px;
      height: 39px;
      position: absolute;
      background: url("../img/leaf-4.png");
      background-size: 45px 39px;
      background-position: no-repeat;
    }
  }

  .page-footer__wrapper {
    width: 640px;
    padding-bottom: 46px;
    border-left: 2px solid #f8f8f8;
    border-right: 2px solid #f8f8f8;
    box-sizing: border-box;
  }

  .page-footer__title {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 76px;
    font-size: 26px;

    &::before {
      content: "";
      top: 68px;
      left: 48px;
      width: 30px;
      height: 19px;
      position: absolute;
      background: url("../img/leaf-6.png");
      background-size: 30px 19px;
      background-position: no-repeat;
    }
  }

  .contacts-list__item {
    padding-bottom: 16px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1440px;
    padding: 0 167px;
    padding-bottom: 0;

    &::before {
      top: -136px;
      left: 720px;
      height: 38px;
    }

    &::after {
      top: -239px;
      left: 1233px;
      width: 55px;
      height: 50px;
      position: absolute;
      background-size: 55px 50px;
    }
  }

  .page-footer__wrapper {
    width: 1106px;
    padding-bottom: 133px;
  }

  .page-footer__title {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 100px;
    font-size: 36px;

    &::before {
      top: 5px;
      left: 142px;
      width: 48px;
      height: 28px;
      background-size: 48px 28px;
    }
  }
}
