.portfolio {
  margin: 0;
  padding: 0 15px;
  padding-bottom: 33px;
  position: relative;

  &::before {
    content: "";
    top: -56px;
    left: 159px;
    width: 2px;
    height: 30px;
    position: absolute;
    background-color: #cb98a8;
  }
}

.portfolio__title {
  margin: 0;
  padding-bottom: 44px;
  font-size: 10;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.portfolio__block {
  display: none;
}

.portfolio__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__list-image {
  display: block;
  object-fit: cover;
  background-color: #ffffff;
}

.portfolio__list-hashtag {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 6px;
  font-size: 12px;
  font-weight: 300;
}

.portfolio__list-title {
  margin: 0;
  padding-bottom: 71px;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
}

@media (min-width: $tablet-width) {
  .portfolio {
    padding: 0;
    padding-top: 257px;
    padding-bottom: 27px;
    box-sizing: border-box;
    border-left: 2px solid #f8f8f8;
    border-right: 2px solid #f8f8f8;

    &::before {
      top: 154px;
      left: 319px;
      height: 38px;
    }

    &::after {
      content: "";
      top: 252px;
      left: -29px;
      width: 56px;
      height: 32px;
      position: absolute;
      background: url("../img/leaf-1.png");
      background-size: 56px 32px;
      background-repeat: no-repeat;
    }
  }

  .portfolio__title {
    padding-bottom: 63px;
    font-size: 25px;
    position: relative;

    &::before {
      content: "";
      top: -67px;
      left: 406px;
      width: 29px;
      height: 22px;
      position: absolute;
      background: url("../img/leaf-2.png");
      background-size: 29px 22px;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      top: 97px;
      left: 617px;
      width: 56px;
      height: 32px;
      position: absolute;
      background: url("../img/leaf-3.png");
      background-size: 46px 22px;
      background-repeat: no-repeat;
    }
  }

  .portfolio__list {
    width: 640px;
    height: 800px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .portfolio__list-item:nth-child(1) {
    padding-top: 100px;
    width: 239px;
  }

  .portfolio__list-item:nth-child(4) {
    padding-top: 116px;
  }

  .portfolio__list-item:nth-child(n+2):nth-child(-n+4) {
    width: 184px;
  }

  .portfolio__list-image:nth-child(1) {
    display: block;
    object-fit: cover;
  }

  .portfolio__list-hashtag {
    padding-bottom: 2px;
    font-size: 11px;
  }

  .portfolio__list-title {
    padding-bottom: 32px;
    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .portfolio {
    padding: 0;
    padding-top: 0;
    padding-bottom: 17px;

    &::before {
      top: 140px;
      left: 552px;
      height: 38px;
    }

    &::after {
      top: 286px;
      left: -30px;
      width: 74px;
      height: 42px;
      background-size: 74px 42px;
    }
  }

  .portfolio__title {
    padding-top: 278px;
    padding-bottom: 20px;
    font-size: 36px;

    &::before {
      top: 210px;
      left: 719px;
      width: 38px;
      height: 28px;
      background-size: 38px 28px;
    }

    &::after {
      top: 388px;
      left: 1070px;
      width: 62px;
      height: 30px;
      background-size: 62px 30px;
    }
  }

  .portfolio__block {
    display: block;
    top: 652px;
    left: -166px;
    width: 130px;
    height: 338px;
    box-sizing: border-box;
    position: absolute;
    z-index: 30;
  }

  .portfolio__block-step-two {
    margin: 0;
    padding: 0;
    padding-top: 225px;
    padding-left: 75px;
    font-size: 14px;
    font-style: italic;
    position: relative;

    &::before {
      content: "";
      top: 173px;
      left: 88px;
      width: 11px;
      height: 1px;
      position: absolute;
      background-color: #bcbcbc;
      box-shadow: 0 40px 0 0 #bcbcbc, 0 80px 0 0 #bcbcbc, 0 120px 0 0 #bcbcbc, 0 160px 0 0 #bcbcbc, 0 200px 0 0 #bcbcbc;
    }

    &::after {
      content: "";
      top: 252px;
      left: 62px;
      width: 37px;
      height: 2px;
      position: absolute;
      background-color: #3b3b3b;
    }
  }

  .portfolio__list {
    width: 1106px;
    height: 1200px;
    padding: 0;
    padding-top: 77px;
  }

  .portfolio__list-item:nth-child(1) {
    padding-top: 172px;
    width: 413px;
  }

  .portfolio__list-item:nth-child(4) {
    padding-top: 200px;
  }

  .portfolio__list-item:nth-child(n+2):nth-child(-n+4) {
    width: 316px;
  }

  .portfolio__list-item:nth-child(3) {
    padding-top: 66px;
  }

  .portfolio__list-hashtag {
    padding-bottom: 8px;
    font-size: 14px;
  }

  .portfolio__list-title {
    font-size: 18px;
  }
}
