.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-list__image {
  fill: #4e4d4e;

  &:hover {
    fill: #8eb574;
  }
}

.social-list__item {
  padding: 20px 13px;
}

@media (min-width: $tablet-width) {
  .social-list__image {
    width: 35px;
    height: 35px;
  }

  .social-list__item {
    padding: 20px 9px;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    padding-bottom: 37px;
  }
}
